%stepNumBase {
  // 邊框
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  // 內部效果
  line-height: 1.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
}

%stepNameBase {
  display: none;
}

%lineBase {
  margin: 0 auto;
  width: 60px;
}

.section_register {
  // 暫時固定組件的寬度
  width: 100%;
  display: flex;
  flex-direction: column;
  & > form {
    flex-grow: 1;
  }
  @media screen and (min-width: 750px) {
    width: 540px;
    align-self: stretch;
  }
}

.stepProgress {
  .steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 750px) {
      margin-bottom: 3rem;
    }
    .step {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 8px;
      
      .stepNum {
        @extend %stepNumBase;
        background-color: var(--stepNumBg);
        color: var(--stepNumColor);
        svg {
          height: 100%;
        }
      }
      .stepNumDoing{
        @extend %stepNumBase;
          background-color: var(--bg);
          color: var(--stepNumDoingColor);
          box-shadow: 0 0 0 1px var(--stepNumDoingColor) inset;
      }
      .stepNumUndo {
        @extend %stepNumBase;
        background-color: var(--bg);
        color: var(--stepNumUndoColor);
        box-shadow: 0 0 0 1px var(--stepNumUndoColor) inset;
      }
      .stepName {
        @extend %stepNameBase;
        @media screen and (min-width: 750px) {
          display: block;
        }
      }

      .stepNameUndo {
        @extend %stepNameBase;
        color: var(--stepNumUndoColor);
        @media screen and (min-width: 750px) {
          display: block;
        }
      }
      .line {
        @extend %lineBase;
        border: 2px solid var(--stepLineColor);
      }
      
      .lineUndo {
        @extend %lineBase;
        border: 2px solid var(--stepLineUndoColor);
      }
    }
  }
}

.divider {
  width: 100%;
  margin: 1.5rem 0;
  height: 2px;
  border: 1px solid var(--dividerColor);
}

.progressControl {
  width: 100%;
  position: absolute;
  bottom: 0px;
  translate: 0 100%;
  @media screen and (min-width: 750px) {
    all: unset;
  }
}

.btnControl {
  // button分散對齊
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 750px) {
    // justify-content: flex-end;
  }
  
  // button共用樣式
  button {
    // 位置
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12.5px;
    // 邊框
    width: 174px;
    height: 46px;
    border: 0px;
    border-radius: 8px;
    // 字型
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    // 效果
    &:hover {
      cursor: pointer;
      translate: -1px -1px;
    }
  }
  // button個別樣式
  .nextBtn {
    &:only-of-type {
      width: 100%;
    }
    margin-left: auto;
    background-color: var(--nextBtnBg);
    color: var(--nextBtnColor);
    @media screen and (min-width: 750px) {
      width: 174px;
    }
  }

  .backBtn {
    justify-content: flex-start;
    background-color: var(--bg);
    color: var(--backBtnColor);
  }
}