.stepContents {
  // 暫時固定高度
  // height:50vh;
}

// 共用樣式
.title {
  font-size: 24px;
  font-weight: 700;
  margin: 1.5rem 0;
}

label {
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #808080;
  letter-spacing: 1px; 
}

.formRow {
  display: flex;
  flex-flow: column;
  gap: 8px;

  input:not([type="radio"]),
  select {
    padding-left: 1rem;
    width: 100%;
    height: 40px;
    border: 1px solid #4A4A4A;
    border-radius: 4px;
    background-color: transparent;
    -webkit-appearance: none;

    &::placeholder {
      color: #999999;
      font-family: 'Noto Sans TC';
    }
  }
  select:invalid {
    color: #999999;
  }
}
// 自製下拉箭頭
:global(.select-wrap) {
  position: relative;
  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    display: block;
    top: 50%;
    right:18px;
    translate: 0 -50%;
    border-color: #2A2A2A transparent;
    border-style: solid;
    border-width: 5px 4.5px 0px 4.5px;
  }
}

// address component專用樣式
.addressPhase {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  // flex排版：一列兩個物件，左物件固定寬度，右物件自動伸展
  .formRow:nth-of-type(1) {
    flex:0 30%;
  }
  .formRow:nth-of-type(3) {
    flex: 0 45%;
  }
  .formRow:nth-of-type(5) {
    flex: 0 30%;
  }
  .formRow:nth-of-type(even) {
    flex: 1 1 auto;
  }
}

// shipping component專用樣式
.radioWrapper {
  display: flex;
  align-items: center;
  position: relative;
  // 字型
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  color: #000000;

  input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 20px;
    // 自製radio樣式
    -webkit-appearance: none;
    border-radius: 50%;
    border: 1px solid #2A2A2A;
    background-color: #FFFFFF;
    &:hover {
      box-shadow: 0 0 0 6px#cccccc inset;
      border: none;
    }
    &:checked {
      box-shadow: 0 0 0 6px#2A2A2A inset;
      border: none;
    }
  }

  .tetl {
    font-size: 14px;
    line-height: 20px;
  }

  .description {
    font-size: 12px;
    line-height: 16px;
  }

  .price {
    position: absolute;
    right: 20px;
    top: 13px;
    font-size: 12px;
    line-height: 16px;
  }
}

// checkout component專用樣式
.checkoutPhase {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .formRow {
    flex: 1 1 auto;
  }
  .formRow:nth-of-type(1),
  .formRow:nth-of-type(2) {
    flex: 0 65%;
  }
}