.header {
  position: relative;
  padding: 0 7.5%;
  width: 100%;
  height: 60px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 750px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .NavToggleIcon {
    padding: 20px 0 40px 0;
    display: block;
    width: 20px;
    height: 15px;
    align-self: flex-start;
    @media screen and (min-width: 750px) {
      display: none;
    }
  }
  .classMenu {
    width: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    @media screen and (min-width: 750px) {
      visibility: visible;
      flex-direction: row;
    }
    & > li {
      height: 72px;
      line-height: 72px;
      border-bottom: 1px solid rgba(42, 42, 42, 0.1);
      @media screen and (min-width: 750px) {
        border-bottom: unset;
      }
    }
    
    .menuItem {
      font-family: "Noto Sans TC";
      font-weight: 500;
      color: var(--textColor);
    }
  }
  .iconMenu {
    visibility: hidden;
    display: flex;
    gap: 32px;
    text-align: center;
    @media screen and (min-width: 750px) {
      visibility: visible;
    }
  }
  
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    img {
      vertical-align: middle;
      &:last-child {
        margin-left: 10px;
        // 垂直置中微調
        margin-top: 3px;
      }
    }
  }
}
