
.header {
  position: relative;
  padding: 0 7.5%;
  width: 100%;
  height: 60px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  transition: height 0.5s;
  
  .NavToggleIcon {
    padding: 20px 0 40px 0;
    align-self: flex-start;
    display: inline-block;
    width: 20px;
    height: 15px;
    background-image: var(--navToggleIcon);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .classMenu {
    position: relative;
    z-index: 999;
    width: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    
    & > li {
      height: 72px;
      line-height: 72px;
      border-bottom: 1px solid rgba(42, 42, 42, 0.1);
    }
    
    .menuItem {
      font-family: "Noto Sans TC";
      font-weight: 500;
      color: var(--textColor);
    }
  }
  .iconMenu {
    visibility: hidden;
    display: flex;
    gap: 32px;
    text-align: center;
    & > li > * {
      display: block;
      width: 24px;
      height: 24px;
    }
    .searchIcon {
      background-image: var(--searchIcon);
    }
    .cartIcon {
      background-image: var(--cartIcon);
    }
    .darkIcon {
      background-image: var(--darkModeIcon);
      cursor: pointer;
    }
  }
  
  .logo {
    display: flex;
    gap: 5px;
    width: 170px;
    position: absolute;
    top: 15px;
    left: 50%;
    translate: -50% 0;
  } 
}

@media screen and (min-width: 750px) {
  .header {
    flex-direction: row;
    justify-content: space-between;

    .NavToggleIcon {
      display: none;
    }

    .classMenu {
      visibility: visible;
      flex-direction: row;

      & > li {
        border-bottom: unset;
      }
    }

    .iconMenu {
      visibility: visible;
    }
  }
}