.section_register {
  // 暫時固定組件的寬度
  width: 540px;
}

.stepProgress {
  .steps {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .step {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      .stepNum {
        // 邊框
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        // 內部效果
        background-color: black;
        line-height: 1.5rem;
        text-align: center;
        color: white;
      }
    }

    .connectLine {
      display: block;
      width: 60px;
      height: 1px;
      background-color: black;
    }
  }
}

.divider {
  margin: 1.5rem 0;
  height: 2px;
  border: 1px solid #E6E6EB;
}

.progressControl {
  // button分散對齊
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  // button共用樣式
  button {
    // 位置
    display: flex;
    justify-content: center;
    align-items: center;
    // 邊框
    width: 174px;
    height: 46px;
    border: 0px;
    border-radius: 8px;
    // 字型
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    // 效果
    &:hover {
      cursor: pointer;
    }
    i {
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      margin-left: 12px;
    }
  }
  // button個別樣式
  .nextBtn {
    background-color: #F67599;
    color: #ffffff;
    &:hover {
      color: #cccccc;
    }
  }

  .backBtn {
    justify-content: flex-start;
    background-color: transparent;
    color: #000000;
    &:hover {
        color: #cccccc;
      }
  }
}