.section_register {
  // 暫時固定組件的寬度
  width: 540px;
}

.stepProgress {
  .steps {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .step {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.stepNum {
  // 邊框
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  // 內部效果
  line-height: 1.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  background-color: #2A2A2A;
  color: white;
  svg {
    height: 100%;
  }
}
.stepNumDoing{
  composes: stepNum;
    background-color: white;
    color: #2A2A2A;
    box-shadow: 0 0 0 1px #2A2A2A inset;
}
.stepNumUndo {
  composes: stepNum;
  background-color: transparent;
  color: #AFB1BD;
  box-shadow: 0 0 0 1px #AFB1BD inset;
}

.stepNameUndo {
  color: #AFB1BD;
}

.line {
  margin: 0 auto;
  width: 60px;
  border: 2px solid #000000;
}

.lineUndo {
  composes: line;
  border: 2px solid #F0F0F5;
}

.divider {
  width: 100%;
  margin: 1.5rem 0;
  height: 2px;
  border: 1px solid #E6E6EB;
}

.progressControl {
  // button分散對齊
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  // button共用樣式
  button {
    // 位置
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12.5px;
    // 邊框
    width: 174px;
    height: 46px;
    border: 0px;
    border-radius: 8px;
    // 字型
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    // 效果
    &:hover {
      cursor: pointer;
      translate: -1px -1px;
    }
  }
  // button個別樣式
  .nextBtn {
    background-color: #F67599;
    color: #ffffff;
  }

  .backBtn {
    justify-content: flex-start;
    background-color: transparent;
    color: #000000;
  }
}