.footer {
  width: 100%;
  height: 100%;
  padding: 0 7.5%;
  padding-top: 32px;
  background-color: var(--footerBg);  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 750px) {
    padding-top: unset;
    display: flex;
    flex-direction: row;
  }
  .logo {
    grid-column: 1 / 3;
    text-align: center;
      img {
        vertical-align: middle;
        &:last-child {
          margin-left: 10px;
          // 垂直置中微調
          margin-top: 3px;
        }
      }
    }

  .menu {
    height: 100%;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    & > * {
      text-align: center;
    }
    .title {
      padding-bottom: 16px;
      font-family: 'Noto Sans TC';
      font-weight: 700;
      font-size: 24px;
      color: var(--textColor)
    }

    .menuItem {
      font-family: 'Noto Sans TC';
      font-weight: 400;
      color: var(--labelColor);
      padding-left: 4px;
    }

    .iconWrap {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 18px;
      & > li {
        text-align: center;
      }
    }
  }
}