// 共用樣式
.title {
  font-size: 24px;
  font-weight: 700;
  margin: 1.5rem 0;
}

label {
  // 每個input標籤
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--labelColor);
  letter-spacing: 1px; 
}

.formRow {
  // 每個input-group
  display: flex;
  flex-direction: column;
  gap: 8px;

  input:not([type="radio"]),
  select {
    padding-left: 1rem;
    width: 100%;
    height: 40px;
    border: 1px solid var(--inputBorder);
    border-radius: 4px;
    background-color: transparent;
    -webkit-appearance: none;

    &::placeholder {
      color: var(--placehoderColor);
      font-family: 'Noto Sans TC';
    }
  }
  select:invalid {
    color: var(--placehoderColor);
  }
}
// 自製下拉箭頭
:global(.select-wrap) {
  position: relative;
  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    display: block;
    top: 50%;
    right:18px;
    translate: 0 -50%;
    border-color: var(--stepNumDoingColor) transparent;
    border-style: solid;
    border-width: 5px 4.5px 0px 4.5px;
  }
}

// address component專用樣式
.addressPhase {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  .formRow {
    width: 100%;
    &:nth-of-type(1) {
      width: calc(40% - 15px);
    }
    &:nth-of-type(2) {
      width: calc(60% - 15px);
    }
  }
  @media screen and (min-width: 750px) {
    // flex排版：一列兩個物件，左物件固定寬度，右物件自動伸展
    .formRow:nth-of-type(1) {
      width: 30%;
    }
    .formRow:nth-of-type(3) {
      width: 45%;
    }
    .formRow:nth-of-type(5) {
      width: 30%;
    }
    .formRow:nth-of-type(even) {
      width: unset;
      flex: 1 1 auto;
    }
  }
}

// shipping component專用樣式
.radioWrapper {
  display: flex;
  align-items: center;
  position: relative;
  // 字型
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  color: #000000;
  border-radius: 4px;
  border: 1px solid var(--stepLineUndoColor);

  &:has(input[type="radio"]:checked) {
    border: 1px solid var(--stepNumDoingColor);
  }

  input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 20px;
    // 自製radio樣式
    -webkit-appearance: none;
    border-radius: 50%;
    border: 1px solid var(--stepNumDoingColor);
    background-color: var(--bg);
    &:hover {
      box-shadow: 0 0 0 6px var(--radioHoverColor) inset;
      border: none;
    }
    &:checked {
      box-shadow: 0 0 0 6px var(--stepNumDoingColor)   inset;
      border: none;
    }
  }

  .tetl {
    font-size: 14px;
    line-height: 20px;
  }

  .description {
    font-size: 12px;
    line-height: 16px;
  }

  .price {
    position: absolute;
    right: 20px;
    top: 13px;
    font-size: 12px;
    line-height: 16px;
  }
}

// checkout component專用樣式
.checkoutPhase {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .formRow {
    flex: 1 1 auto;
  }
  .formRow:nth-of-type(1),
  .formRow:nth-of-type(2) {
    flex: 0 100%;
  }
  @media screen and (min-width: 750px) {
    .formRow:nth-of-type(1),
    .formRow:nth-of-type(2) {
      flex: 0 65%;
    }
  }
}